@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: roboto, raleway;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #75A3BF;
  text-decoration: inherit;
}
a:hover {
  color: #2E78A6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: roboto;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media screen and (max-width: 640px) {
  button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
  button {
    font-size: 0.8rem;
    padding: 1.1rem 0.8rem;
  }
}

@media screen and (min-width: 1025px) {
  button {
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
  }
}

button:hover {
  border-color: #2E78A6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card-gradasi{
  background: linear-gradient(to bottom, #2E78A6,
    #1C4965A6);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: relative;
  max-width: 100%;
  max-height: 100%;
  color: #ffffff;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  object-position: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #2E78A6;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media(min-width: 1024px){
  .card-gradasi{
    width: 100%;
    max-width: none;
  }
}